/** 
	@author: Miroslav Malat
	@site: CMS MagPie
--------------------------------- */

html, body { color: #333; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	text-align: center;	margin: 0; padding: 0;}
body {	background: #fff url(../gfx/bg-main.gif) repeat-x top;}

/* obecne elementy
------------------------------------------ */
address {	font-style: normal;}

a {color: #D50063;}
a:hover {text-decoration: none;}

br {	display: block;}

h1 {	font-size: 0.875em; margin: 0 0 15px 0; color: #0068B0;}
h2 {	font-size: 0.75em;	margin: 0 0 1em 0; color: #D50063;}
h3 {	margin: 0 0 0.5em 0; color: #0068B0;}
h4 {	margin: 0 0 3px 0; font-weight: normal;}
p {	margin: 0 0 1.5em 0; line-height: 1.5;}
address, li, dt, dd, p, th, td, h3, h4, h5, h6, caption, legend  {	font-size: 0.6875em;}
dl {	margin: 0 0 1.5em 0;}
dt {	margin-left: 0px; margin-top: 10px;	font-weight: bold; color: #890000;}
dd {	margin-left: 25px;}
li {	margin: 7px;}
li li {	font-size: 100%;}

/* table */
caption {	text-align: left;	font-weight: bold;	padding: 0;}
table {margin: 0 auto 15px auto; width: 100%;	}

td, th {	padding: 5px; font-size: 11px; }

tr {	background: #fff;}
tr:hover {background-color: #F5F5F5;}

th {	text-align: left;	background: #0068B0 url(../gfx/bg-th.gif) repeat-x top;	color: #fff; line-height: 2.0;}
td {	font-size: 11px; line-height: 1.5;}

table {	background: #002B84;}


hr {	border: 1px solid #fff;	border-bottom: 1px solid #002B84;	margin: 10px 0;}

img {border: none; background: #fff url(../gfx/ajax-loader.gif) no-repeat center; display: block;}

/* forms */
fieldset {	border: 1px solid #002B84; padding: 5px 10px; margin-bottom: 10px;}
legend {	color: #002B84;	font-weight: bold; margin: 0; }

input, textarea {	padding: 2px; vertical-align: middle;}
label {	display: block;	padding: 3px 0; color: #002B84; font-size: 11px;}

input:focus, textarea:focus {	background-color: #FAF0E6;}
input:active, textarea:active {	background-color: #FFEFD5;}

input.submit {	border: 0;	background: #002B84;	color: #fff;	width: 120px;}

/* balicek
------------------------------------------ */
#balicek {	background-color: #fff;	margin: 60px auto 0 auto; padding-bottom: 40px;	text-align: left;	width: 960px;	border: 1px solid #002B84;}

/* hlavicka
------------------------------------------ */
#hlavicka { height: 120px; position: relative; top: 0; background-color: #fff; border-bottom: 1px solid #002B84}
#hlavicka h1 { margin: 0;	width: 277px; height: 120px;	text-align: center;	font-size: 12px;	position: absolute; left: 0; overflow: hidden;}
#hlavicka h1 span {	position: absolute;	left: 0;	top: 0;	display: block;	width: 277px;	height: 120px;	background: url(../gfx/logo.gif) no-repeat 0;
	cursor: pointer;
	cursor: hand;
}

#hlavicka h1 a {	display: block;	line-height: 120px;}

#hlavicka p {	width: 450px;	float: right;	text-align: right;	margin: 20px 15px;	color: #002B84;}

/* homepage 
------------------------------------------ */
#hp-login {	background: #fff url(../gfx/logo.gif) no-repeat 5px 130px;	width: 220px;	padding: 15px 15px 60px 15px;	margin: 80px auto;	border: 1px solid #ddd;	text-align: left; position: relative;}
#hp-login fieldset {	padding-top: 15px;}

/* navbar
------------------------------------------ */
p#navbar {	margin: 12px 15px 12px 260px;	color: #016AB1;}
p#navbar strong {	font-weight: normal;	color: #333;}

/* menu
------------------------------------------ */	

#menu {	width: 248px;	margin: 0; padding: 0; float: left;}
#menu ul, #menu li {	margin: 0; padding: 0;	list-style: none;	}

/* mnu level 1 */
#menu li {	background: #0068B0 url(../gfx/bg-mnu1.gif) no-repeat top;	line-height: 35px;	border-top: 1px solid #A0A0A0;}
#menu li a {	margin-left: 20px;	color: #fff;	font-weight: bold;	text-decoration: none;	background: url(../gfx/ico-mnu1.gif) no-repeat 208px center;	display: block;	width: 228px;}
#menu li a:hover {	text-decoration: underline;}
#menu li.active a {	background: none;}

/* mnu level 2 */
#menu li ul {	background: #E8F3F6 url(../gfx/bg-mnu2.gif) repeat-y top;	border-top: 1px solid #ABCDE5;}
#menu li li {	background: none;	line-height: 23px;	border-top: none;	border-bottom: 1px solid #fff;}
#menu li li a {	color: #082B72;	font-weight: normal;}
#menu li li.active a {	font-weight: bold;}

/* mnu level 3 */
#menu li li.active ul {	border-top: none;	margin-left: 15px;	background: none;	padding-bottom: 10px;}
#menu li li.active ul li {	border-bottom: none;		background: url(../gfx/ico-mnu3.gif) no-repeat 5px center;}
#menu li li.active ul a {	font-weight: normal;	width: 210px;	margin-left: 15px;}


/* hlavni obsah
------------------------------------------ */
#text-box {	float: right;	width: 668px;	border: 1px solid #E6E6E6;	margin-right: 10px;	padding: 10px 10px; min-height: 520px;}

#text-box fieldset {	position: relative;}

#text-box fieldset p {	position: absolute;	width: 150px;	right: 10px;}

/* editace inzeratu */
#text-box table.edits {	background-color: #E6E6E6;}
#text-box table.edits td, #text-box table.edits th {line-height: normal;}
#text-box table.edits th {	background: none;	width: 150px;	color: #333;	vertical-align: top;}    
#text-box table.edits th small {font-weight: normal;}
#text-box table.edits textarea {	width: 400px;	height: 120px;}    




/* sirky */
.w40 {	width: 40px;}
.w250 {	width: 250px;}
.w120 {	width: 120px;}

/* paticka
------------------------------------------ */
#paticka {	margin: 10px auto;	width: 940px;}
#paticka a { color: #002B84;}

/* obecne
------------------------------------------ */
.left {	text-align: left !important;}
.right {	text-align: right !important;}
.center {	text-align: center !important;}

.fll {	float: left;}
.flr {	float: right;}

img.fll {	float: left;	margin-right: 15px !important; margin-left: 5px;}
img.flr {	float: right; margin-left: 15px !important; margin-right: 5px;}

img.border{	border: 1px solid #002B84;}

.cleaner {	clear: both;}
div.cleaner {	height: 1px;	font-size: 1px;	line-height: 1px;}

.spacer {	font-size: 1px;	line-height: 1px;	height: 1px; border-color: #fff;	border-bottom: 1px solid #ddd;	margin: 10px 0;}

.hid {	visibility: hidden;}
.nod {	display: none;}

.spaceman {	position: absolute;	top: -3000px;}

.half, .half-left, .half-right {	float: left; width: 45%;	margin-left: 10px;}

.pink {	color: #D50063;}

/*.half-left {	margin-left: 15px;}*/

/* nahledy fotek
-------------------------------------- */
#thumbBox {position: absolute; left: 0;  top: 0; width: auto; padding: 10px 10px 0 10px; background: #fff; border: 1px solid #bbbdc0; visibility: hidden; z-index: 10; cursor: pointer; font-size: 11px; text-align: left; }
#thumbBox .close { color: #cc0000; text-align: right; font-size: 12px; padding: 0; font-weight: bold; }
#thumbBox img {	border: 1px solid #bbbdc0;}
#thumbBox p {margin: 0 0 10px 0; padding: 0; }
#thumbBox p.close a {padding-left: 15px; background: url('/gfx/ico-close.gif') 0 4px no-repeat; color: #cc0000 }
#thumbBox #thumbImage { background-color: white; }
#thumbLoading { position: absolute; visibility: hidden; background: #fff; border: 1px solid #bbbdc0; padding: 5px; z-index: 5; }


/* spesial 
-------------------------------------- */
#special {	position: fixed;	width: 200px;	top: 0;	right: 0;	background-color: #FFFFE0;	padding: 10px 0; text-align: left;}
#special ul {	margin: 0;	padding: 0 0 0 5px;}
#special li {	margin: 3px 0 0 15px;}
