#capturefor(title) $ClassLocalization.ItemsText #end

#capturefor(crumbmenu) <a href="/admin_exclusivereal/">úvodní strana</a> | <a href="/admin_exclusivereal/estates/index.aspx">Správa Inzerátů</a> | <strong>$ClassLocalization.ItemsText</strong> #end
#capturefor(estates_active)class="active"#end
#capturefor(developerprojects_active)class="active"#end
#capturefor(estates_submenu)
        #component(EstatesAdminMenu)
#end


#capturefor(head)
    <link rel="stylesheet" type="text/css" media="screen" href="$siteroot/js/wymeditor/skins/default/screen.css" />
    <script type="text/javascript" src="$siteroot/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="$siteroot/js/wymeditor/jquery.wymeditor.pack.js"></script>
    <style  type="text/css">
        form label {
            float: left;
            width:220px;
        }
    </style>
#end

<div>

#if($OriginalAction == "new")
<h2>Nový developerský projekt - krok $CurrentStep</h2>
#else
<h2>Editace "$Instance" - krok $CurrentStep</h2>
#end





#if(!$CurrentStep || $CurrentStep=="1")
    $NexusARFormHelper.FormTag("%{action='update', enctype='multipart/form-data'}")
    
        $NexusARFormHelper.HiddenField("${Prefix}.Id")
        $NexusARFormHelper.HiddenField("OriginalAction")

        #foreach($subModel in $NexusARFormHelper.GetModelHierarchy($Model, $Instance))
            #if($subModel.IsNestedType)$Html.FieldSet($NexusARFormHelper.GetLocalizedName($Model.Type, $subModel.Type))#end


            #if(!$subModel.IsNestedType)
                #component(LocalizedPropertiesForm with "LocalizationModel=$LocaleModel" "LocalizationPrefix=$LocalePrefix")
            #end


            #foreach($prop in $subModel.Properties)
                #if($NexusARFormHelper.CanHandle($prop))
                    <div>$NexusARFormHelper.CreateControl($subModel, "$Prefix", $prop.Property.Name, $Instance)</div>
                #end
            #end           


            #foreach($prop in $subModel.BelongsTo)
                #if($NexusARFormHelper.CanHandle($prop))
                    <div>$NexusARFormHelper.CreateControl($subModel, "$Prefix", $prop.Property.Name, $Instance)</div>
                #end
            #end


            #foreach($prop in $subModel.OneToOnes)
                #if($NexusARFormHelper.CanHandle($prop))
                    #set($oneToOneModel = $NexusARFormHelper.GetModelFromType($prop.OneToOneAtt.MapType))
                    $Html.FieldSet($NexusARFormHelper.GetLocalizedName($subModel.Type, $prop.OneToOneAtt.MapType))

                    $NexusARFormHelper.HiddenField("${Prefix}.${prop.Property.Name}.Id")


                    #if(!$oneToOneModel.IsNestedType)
                        #component(LocalizedPropertiesForm with "LocalizationModel=$NexusARFormHelper.GetLocaleModel($oneToOneModel)" "LocalizationPrefix=OneToOneProperty_${prop.Property.Name}_${LocalePrefix}")
                    #end


                    #foreach($oneToOneProp in $oneToOneModel.Properties)
                        #if($NexusARFormHelper.CanHandle($oneToOneProp))
                            <div>$NexusARFormHelper.CreateControl($oneToOneModel, "$Prefix.$prop.Property.Name", $oneToOneProp.Property.Name, $Instance)</div>
                        #end
                    #end           


                    $Html.EndFieldSet()
                #end
            #end


            #if($subModel.IsNestedType)$Html.EndFieldSet()#end
        #end

        $NexusARFormHelper.HiddenField("CurrentStep", "1")
        $NexusARFormHelper.HiddenField("NextStep", "2")

        $NexusARFormHelper.Submit("pokračovat &raquo;", "%{class='wymupdate submit'}")
        $NexusARFormHelper.Submit("uložit &raquo;", "%{class='wymupdate submit', id='save', name='save'}")
        
    $NexusARFormHelper.EndFormTag()
#end











#if($CurrentStep=="2")
    $NexusARFormHelper.FormTag("%{action='AddDeveloperProjectImage', enctype='multipart/form-data'}")
    $NexusARFormHelper.HiddenField("Id")
    $NexusARFormHelper.HiddenField("OriginalAction")
    <fieldset>
        <legend>Vložit foto</legend>

        <table cellspacing="1" class="edits">
            <tr>
                <th>Soubor:</th>
                <td>
                    <input type="file" id="image" name="image" /> <br />
                    <input type="text" id="description_cs" name="description_cs" maxlength="60" /> - popis CZ <small>(max 60 znaků)</small><br />
                    <input type="text" id="description_en" name="description_en" maxlength="60" /> - popis EN <small>(max 60 znaků)</small><br />
                </td>
                <td>$NexusARFormHelper.Submit("nahrát obrázek", "%{class='wymupdate submit'}")</td>
            </tr>
        </table>
    </fieldset>
    $NexusARFormHelper.EndFormTag()

	

   
    
    
   
    <fieldset>
        <legend>Nahrané obrázky</legend>

        <table cellspacing="1" class="edits">
        #foreach($image in $Instance.DeveloperProjectImages)
            <tr>
                <th><a href="/estateimage.axd?id=$image.Id&amp;source=developerproject" rel="thumbnail"><img src="/estateimage.axd?id=$image.Id&amp;size=4&amp;source=developerproject" height="56" width="75" /></a></th>
                <td>
                    $NexusARFormHelper.FormTag("%{action='UpdateImageDescription', enctype='multipart/form-data'}")
                        $NexusARFormHelper.HiddenField("Id")
                        $NexusARFormHelper.HiddenField("OriginalAction")
                        $NexusARFormHelper.HiddenField("DeveloperProjectImageId", $image.Id)
                        <input type="radio" name="mainpic" value="$image.Id" onclick="window.location='SetDeveloperProjectImageAsMain.aspx?Id=$image.Id&DeveloperProjectId=$Id';" #if($image.IsMain)checked="checked"#end /> hlavní obrázek<br />
                        <hr />
                        [cz] <input type="text" id="Text1" name="description_cs" value="$image.Description_cs" maxlength="60" /><br />
                        [en] <input type="text" id="Text2" name="description_en" value="$image.Description_en" maxlength="60" />
                        $NexusARFormHelper.Submit("upravit popis", "%{class='submit'}")
                    $NexusARFormHelper.EndFormTag()
                </td>
                <td>
                    <a href="DeleteDeveloperProjectImage.aspx?Id=$image.Id&DeveloperProjectId=$Id">smazat</a>
                </td>
            </tr>
        #end
        </table>
    </fieldset>
 






    <hr />







    $NexusARFormHelper.FormTag("%{action='AddDeveloperProjectAttachment', enctype='multipart/form-data'}")
    $NexusARFormHelper.HiddenField("Id")
    $NexusARFormHelper.HiddenField("OriginalAction")
    <fieldset>
        <legend>Vložit přílohu</legend>

        <table cellspacing="1" class="edits">
            <tr>
                <th>Soubor:</th>
                <td>
                    <input type="file" id="file" name="file" /> <br />
                    <input type="text" id="file_description_cs" name="description_cs" maxlength="60" /> - popis CZ <small>(max 60 znaků)</small><br />
                    <input type="text" id="file_description_en" name="description_en" maxlength="60" /> - popis EN <small>(max 60 znaků)</small><br />
                </td>
                <td>$NexusARFormHelper.Submit("nahrát přílohu", "%{class='wymupdate submit'}")</td>
            </tr>
        </table>
    </fieldset>
    $NexusARFormHelper.EndFormTag()

	

   
    
    
   
    <fieldset>
        <legend>Nahrané přílohy</legend>

        <table cellspacing="1" class="edits">
        #foreach($attachment in $Instance.DeveloperProjectAttachments)
            <tr>
                <th><a href="/$attachment.FilePath">$attachment</a></th>
                <td>
                    $NexusARFormHelper.FormTag("%{action='UpdateAttachmentDescription', enctype='multipart/form-data'}")
                        $NexusARFormHelper.HiddenField("Id")
                        $NexusARFormHelper.HiddenField("OriginalAction")
                        $NexusARFormHelper.HiddenField("DeveloperProjectAttachmentId", $attachment.Id)
                        [cz] <input type="text" id="Text5" name="description_cs" value="$attachment.Description_cs" maxlength="60" /><br />
                        [en] <input type="text" id="Text6" name="description_en" value="$attachment.Description_en" maxlength="60" />
                        $NexusARFormHelper.Submit("upravit popis", "%{class='submit'}")
                    $NexusARFormHelper.EndFormTag()
                </td>
                <td>
                    <a href="DeleteDeveloperProjectAttachment.aspx?Id=$attachment.Id&DeveloperProjectId=$Id">smazat</a>
                </td>
            </tr>
        #end
        </table>
    </fieldset>
 
 
#end
</div>